<mat-card class="m-5">
  <form>
    <h3 class="text-center">Log In</h3>
    <div fxLayout="column" fxLayoutAlign="center center" fxFill>
      <input  fxFill type="text" placeholder="Enter Username" name="uname" required>
      <input  fxFill type="password" placeholder="Enter Password" name="psw" required>  
      <button  fxFill class="btn btn-outline-success" type="submit">Log in with Mail</button>
      <button  fxFill class="btn btn-outline-info" type="submit">Log In with Google</button>
      <label fxLayout="row wrap" fxLayoutAlign="space-between">
        <span><a [routerLink]="['/sign-up']" routerLinkActive="router-link-active" >No Account? Sign Up</a></span>      
      </label>
    </div>  
  </form>
</mat-card>