
  /* Full-width inputs */
  input[type=text], input[type=password] {
    // width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: whitesmoke;
  }
  
  /* Set a style for all buttons */
  button {
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    // width: 50%;
    border: 1px solid #ccc;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }

  
  
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }

  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }