<div fxLayout="column" fxLayoutAlign="center center" class="p-2">
    <h4>Edit:  {{blogPost?.title}}</h4>
    <div class="card m-4 p-2" fxLayout="row" fxLayoutAlign="center center" fxFill>
        <form  [formGroup]="editBlogPostForm" fxLayout="column" fxLayoutAlign="center center"
            fxFill>
            <div class="p-2" fxLayout="column" fxLayoutAlign="center center" fxFill>
                <label>Title: </label>
                <input formControlName="title" [value]="blogPost?.title" type="text" />
            </div>
            <div class="p-2 m-1" fxLayout="column" fxLayoutAlign="center center" fxFill>
                <label>Content: </label>
                <textarea formControlName="content" [value]="blogPost?.content"></textarea>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <button (click)="saveEditedPost()" class="btn btn-success m-2" type="submit" [disabled]="!editBlogPostForm.valid">
                    Save changes
                </button>
                <button (click)="cancel()" class="btn btn-danger m-2">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>