<div fxLayout="column" fxLayoutAlign="center center" class="p-5">
    <div class="card m-4 p-4" fxLayout="row" fxLayoutAlign="space-evenly center" fxFill>
        <button [routerLink]="['/new-blogpost']" routerLinkActive="router-link-active"  class="btn btn-success"> Add New Article</button>
        <button class="btn btn-info"> View All Articles</button>        
    </div>

    <div class="card m-4 p-4" fxLayout="row" fxLayoutAlign="space-evenly center" fxFill>
        Your Articles       
    </div>
</div>
